@keyframes moveInDown {
  from {
    transform: translateY(-4vh);
  }

  to {
    transform: translateY(-2vh);
  }
}


// Scale images
.feature__ft-text-box {
  z-index: 100;
}
.feature__img-box,
.gallery__box {
  overflow: hidden;
}

.img-scale {
  transition: all 0.4s;

  &:hover {
    transform: scale(1.05);
  }
}
